body{
	font-family: Tahoma;
	background: #90e016;
	margin: 0;
	background-image: url()
}
h1{
	cursor: help;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 3px solid #e08816;
	color: #dbdbdb;
}
.form1{
	margin: 0 auto;
	background: #e01616;
	width: 420px;
	height: 700px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	border: none;
}
.group{
	margin: 10px;
	padding: 5px;
	border: none;
}
.label1{
	padding-left: 10px;
	text-transform: uppercase;
	color: #dbdbdb;
}
.input1{
	margin-top: 10px;
	height: 40px;
	width: 400px;
	border-radius: 20px 20px 20px 20px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.input1:focus {
	border: 2px solid #6c00ff;
	transform: translateX(15px);
	width: 385px;
}
button{
	cursor: pointer;
	padding: 10px 30px;
	height: 50px;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-size: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	margin-top: 55px;
	color: #c26b6b;
}
button:hover{
	opacity: .80;
	font-weight: bold;
	transform: scale(1.1);
}
.radio{
	height: 60px;
	margin: 15px;
	padding: 5px;
	color: #dbdbdb;
}
.radio label{
	float: inherit;
	margin-bottom: 5px;
	margin-right: 10px;
}
.check{
	height: 220px;
	margin: 15px;
	padding: 5px;
	color: #dbdbdb;
}
.check label{
	float: inherit;
	margin-bottom: 5px;
	margin-right: 10px;
}
.home{
	position: absolute;
}
.nav{
	border: 0.5px solid black;	
	padding-top: auto;
	margin-left: auto;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	border-radius: 20px;
	background-color: #ab0000;
	margin-bottom: 10px;
}
.nav a{
	color: #dbdbdb;
	text-decoration: none;
	background-color: #ab0000;
}
.nav a:hover{
	color: #ff1a1a;
	text-decoration: none;
	border: 2px dotted #FF4500;
	font-size: 18px;
	background-color: #FFEBCD;
}
.navstyle{
	border: 0.5px solid black;	
	padding-top: auto;
	margin-left: auto;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
	border-radius: 20px;
	background-color: #ab0000;
	margin-bottom: 10px;
	margin-top: 7%;
	width: 30%;
	margin-right: 35%;
}
.navstyle a{
	color: #dbdbdb;
	text-decoration: none;
	background-color: #ab0000;
}
.navstyle a:hover{
	color: #ff1a1a;
	text-decoration: none;
	border: 2px dotted #FF4500;
	font-size: 18px;
	background-color: #FFEBCD;
}